*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-family: Arial, Helvetica, sans-serif;
}

body{
 background-color: #EF626C;
}

.container{
    width: 800px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    margin: 5rem 0;
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

input{
    height: 50px;
    width: 400px;
    font-size: 1.5rem;
    margin: 1rem 0;
}

p{
    padding: 3rem 0;
    font-size: 3em;
}